rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function userDocPath(uid) {
      return /databases/(default)/documents/users/$(uid);
    }

    function isDM() {
      return isSignedIn()
        && firestore.exists(userDocPath(request.auth.uid))
        && firestore.get(userDocPath(request.auth.uid)).data.role == "dm";
    }

    match /grigliata/backgrounds/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isDM();
    }

    match /grigliata/music/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isDM();
    }

    match /grigliata/tokens/{userId}/{allPaths=**} {
      allow read: if isSignedIn() && (request.auth.uid == userId || isDM());
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /tecnicas/{allPaths=**} {
      allow read, write: if isSignedIn();
    }

    match /spells/{allPaths=**} {
      allow read, write: if isSignedIn();
    }

    match /foes/{allPaths=**} {
      allow read, write: if isDM();
    }

    match /{root} {
      allow read, write: if isSignedIn() && root != "grigliata" && root != "foes";
    }

    match /{root}/{allPaths=**} {
      allow read, write: if isSignedIn() && root != "grigliata" && root != "foes";
    }
  }
}
