/* file .frontend/src/App.css */
.App {
  text-align: center;
  margin: 0 auto;
  max-width: 600px; /* Keeps content centered and neat on large screens */
  padding: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;   /* Fill the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Rotating logo animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

/* Main Title styling */
.main-title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

/* Starring list styling */
.starring-list {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0 2rem 0;
}

.starring-list li {
  margin: 0.25rem 0;
}

/* Development status styling */
.dev-status {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('assets/images/epic_fantasy_pattern_background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.logout-button {
  background: #8B0000; /* Deep red */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

.logout-button:hover {
  background: #B22222;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}