/* file: ./frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set a default background color to prevent a white flash during transitions */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Change this color to match your design */
}

body {
  margin: 0;
  font-family: 'MedievalSharp', fantasy;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
h1, h2, h3, h4, h5, h6 {
        font-family: 'Cinzel', serif;
      }
