/* file .frontend/src/index.css */
/* Apply a global fantasy-style background */
body {
  margin: 0;
  font-family: 'Cinzel', serif; /* More epic medieval font */
  background: url('assets/images/epic_fantasy_pattern_background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Remove any unwanted margin or padding */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
